@font-face {
    font-family: 'tolkienregular';
    src: url('tolkien_regular.woff2') format('woff2'),
         url('tolkien_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tngani';
    src: url('tngani.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'partybusiness';
    src: url('partybusiness.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'tolkienregular', sans-serif;
    font-weight: normal;
    font-style: normal;
    width: auto;
    padding: 0;
    margin: auto;
    background-color: white;
    text-align: justify;
}
header {
    width: auto;
}
h1 {
    font-family: 'tolkienregular', serif;
    position: center;
    padding-bottom: 100px;
    font-size: 50px;
}
h2 {
    font-family: 'tolkienregular', serif;
    font-size: 30px;
}
h3 {
    font-family: 'tolkienregular', serif;
    font-size: 20px;
}
p {
    font-family: 'partybusiness', sans-serif;
}
section {
    margin: -2%;
    padding: 3%;
}

.symbole {
    font-family: 'tngani', sans-serif;
    font-size: 20px;
    color: #e95420;
}

.fellows {
    background-color: antiquewhite;
}
.myReward {
    background-color: black;
    color: #FFFFFF;
}
.bestHunter {
    background-color: antiquewhite;
}
.theRing {
    background-color: black;
    color: #FFFFFF;
}
.theArmy {
    background-color: antiquewhite;
}
.contactUs {
    background-color: black;
    color: #FFFFFF;
}
.footer {
    background-color: #e95420;
    margin: -2%;
    padding: 6%;
    color: white;
}
.footer a {
    color: white;
}
.inLine {
    display: inline-block;
}
.map {
    height: 100%;
    width: 100%;
}
.logo {
    height: 300px;
}
.card-img-overlay {
    background-color: rgba(0,0,0,0.2);
}
.overlay {
    background-color: white;
    border-radius: 20px;
    text-align: center;
}
.card-body {
    background-color: black;
    color: white;
}
.card-img-overlay:hover .overlay {
    display: none;
}
.card:hover .card-img-overlay {
    visibility: hidden;
}
i {
    color: orange;
}

.imagereward {
    width:140px;
    height:140px;
    float: right;
}

.card-header {
    background-color: #e95420;
}
table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}
th {
    width: 400px;
    background-color: grey;
    color: white;
    border: ridge black;
}
.th {
    width: 400px;
}
td {
    background-color: white;
    color: grey;
    border: ridge black;
}
.td {
    width: 400px;
}
tr {
    width: 600px;
    height: 50px;
}

.card-header{
    background-color: grey;
}
.Gollum{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
    float: right;
}

.hunter {
    width:70px;
    height:70px;
}

.War {
    width:140px;
    height:140px;
    float: right;
}